.top-buffer {
	margin-top: 40px;
  height:120px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 8px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 0;
  font-size: 13px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 0;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 35px;
}
.title {
	font-size:58px;
}
.btn-menu {
  position:relative;
  bottom:-80px;
  color:#286090;
  font: bold 18px 'Abel', sans-serif;
  padding:5px;
}
.btn-menu:hover {
  text-decoration: none;
  color:#337ab7;
}
.footer {
	background-color: #286090;
	/*border:none;*/
  height:60px;
  width:100%;
  border: 1px solid #000;
  position:absolute;
  bottom:0px;
	text-align: center;
	color:#FFF;
}
.logo-image {
  height: 150px;
  background-image:url('/images/logo.png');
  background-position: center;
  background-size:auto 100%; 
  background-repeat:no-repeat;
}
.menu {
  position: absolute;
  top:-155px;
  height:115px;
  background-color: #286090;
}
.menu_home {
  width:46px;
}
.menu_search {
  left: 47px;
  width: 122px;
}
.menu_create {
  left: 170px;
  width: 114px;
}
.menu_donate {
  left: 285px;
  width: 105px;
}
.no-top-margin {
  margin-top:0px;
}