@import "colors.less";

body{
  background-color: @color-blue-50;
  .top-buffer {
  	margin-top: 40px;
    height:120px;
  }

  .menu {
    z-index:3;
    position: fixed;
    background-color: @color-indigo-900;
    height:50px;
    width:100%;
    top:0px;
    box-shadow: 0px 0px 10px @color-shadow;
    border:none;
    .menu-pc {
      text-align: right;
      a {
        color: @color-white;
        position:relative;
        top:13px;
        font-size:18px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding:5px;
        &:hover{
          text-decoration: none;
          color: @color-indigo-200;
        }
      }
    }
    .icon {
      background-image: url('/images/logo-icone.png');
      background-size: 60px 25px;
      background-position: center;
      background-repeat: no-repeat;
      margin-top:5px;
      height:40px;
    }
    .name {
      cursor: pointer;
      color: @color-white;
      padding-top:15px;
      text-align: left;
      font: bold 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      &:hover {
        text-shadow:0px 0px 10px @color-indigo-200;
      }
    }
    .buttons {
      padding-top:11px;
      i{
        color: @color-white;
      }
    }
  }

  .modal-back-window {
    position: fixed;
    background-color: @color-black;
    opacity: 0.8;
    left:0; top: 0;
    width: 100%; height:100%;
    z-index:2;
  }

  .menu-mobile {
    z-index:3;
    position:fixed;
    top: 50px;
    left: 0;
    background-color: @color-indigo-400;
    display:none;
    div {
      font-size:14px;
      height: 40px;
      color: @color-white;
      padding-left:15px;
      &:hover{
        background-color: @color-indigo-200;
      }
      div {
        padding:5px;
        padding-top:10px;
        a {
          color: @color-white;
          text-decoration:none;
        }
      }
    }
  }

  .modal {
    border-radius:0px;
    .modal-dialog {
      .modal-content {
        .modal-header {
          background-color: @color-indigo-900;
          color: @color-white;
          .close{
            color: @color-white;
            opacity: 1;
            &:hover{
              opacity:.7;
            }
          }
        }
      }
    }
  }

  .pointer {
    cursor:pointer;
  }

  .footer {
    background-color: @color-indigo-900;
    height:60px;
    text-align: center;
    color: @color-white;
    border:none;
  }
  .footer-margin {
    height:60px;
  }

  .logo-banner-pc {
    height: 150px;
    margin-top:60px;
    margin-bottom: 10px;
    background-image:url('/images/logo-banner.png');
    background-position: center;
    background-size:auto 100%;
    background-repeat:no-repeat;
  }
  .logo-banner-mobile {
    height: 150px;
    background-image:url('/images/logo-banner.png');
    background-position: center;
    background-size:100% auto; 
    background-repeat:no-repeat;
    &.visible-sm {
      margin-top:40px;
      margin-bottom: -10px;
    }
    &.visible-xs {
      margin-top:30px;
      margin-bottom: -30px;
    }
  }

  .no-top-margin {
    margin-top:0px;
  }

  .card {
    background-color: @color-white;
    box-shadow: 0px 1px 5px @color-shadow;
    width:100%;
    margin:10px;
    padding: 10px;
    .title {
      margin-top:-10px;
      margin-left:-10px;
      margin-right:-10px;
      margin-bottom:15px;
      padding:5px;
      padding-left: 10px;
      background-color: @color-indigo-900;
      color: @color-white;
      font-size: 24px;
      line-height:1.1;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding-top: 23px;
      padding-bottom: 17px;
    }
    .bottom {
      border-top:1px solid @color-gray-D;
      padding:5px;
      padding-top:10px;
    }
  }
  .button {
    font-size:14px;
    font-weight:bold;
    margin-left:10px;
    &:hover, &:link {
      color: @color-indigo-900;
      text-decoration: none;
    }
  }
  .btn-disabled, .btn-disabled:hover, .btn-disabled:link {
    cursor: not-allowed;
    opacity: .65;
    color: @color-indigo-900;
  }
  .card-ads {
    height: 500px;
  }
  .typeahead {
    background-color: @color-blue-50;
    border-radius:3px;
    position:absolute;
    box-shadow: 0px 0px 5px @color-shadow;
    width:90%;
    height:120px;
    display:none;
    z-index: 1;
  }
  .typeahead-option {
    cursor:pointer;
    padding-left:10px;
    padding-top:3px;
  }
  .typeahead-option:hover{
    background-color: @color-indigo-200;
    color: @color-white;
    font-weight: bold;
  }
  .points {
    z-index:2;
    box-shadow:0px 1px 5px @color-black;
    background-color: @color-white;
    position:fixed;
    width:16.6%;
    height:40px;
    top:50px;
    margin-left:8.3%;
    color:@color-indigo-900;
    padding:10px;
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    display:none;
  }
  .search-bar {
    z-index:1;
    margin-top:15px;
  }
  .back-bar {
    padding-top: 5px;
    margin-top: 10px;
  }
  .option-hover {
    background-color: @color-indigo-200;
    color: @color-white; font-weight: bold;
    cursor: pointer;
  }
  .actions {
    width:4.15%;
    text-align: center;
    cursor:pointer;
  }
  .tab-pane.body{
    padding:10px;
    padding-top:15px;
  }
  .sub-card {
    box-shadow:0px 1px 3px @color-shadow;
    padding:10px;
  }
  .div-content {
    padding-left: 0;
  }
}